<div class="home-container">
    <section class="college-info">
      <h1 class="main-title">Student Registration Form</h1>
      <h2 class="college-name">PDEA College of Engineering, Pune</h2>
      <p class="college-desc">
        Welcome to PDEA College of Engineering, Pune – a center of academic excellence and innovation.
        We are committed to nurturing future engineers with strong values, practical knowledge, and global vision.
        Join a vibrant campus that fosters creativity, research, and overall personality development.
      </p>
    </section>
  </div>
  